.welcome-container {
  background: #2e6d9a;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(220, 220, 220);

  .arrow-icon {
    position: absolute;
    align-self: flex-end;
    height: 4rem;
    width: 3rem;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: moveUp;
    animation-duration: 3s;
    animation-delay: 10s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;

    img {
      object-fit: scale-down;
      width: 2rem;
      height: 2rem;
      cursor: pointer;
    }
  }

  .typewriter h1 {
    border-right: 1px solid white;
    white-space: nowrap;
    overflow: hidden;
    width: 32rem;
    animation: typewriter 2s steps(25) 1s 1 normal both;
    margin-bottom: 2rem;
    font-size: 3rem;
  }

  .typewriter #line-1 {
    border-right: 1px solid white;
    white-space: nowrap;
    overflow: hidden;
    width: 38rem;
    animation: typewriter 3s steps(40) 1s 1 normal both;
    animation-delay: 3.5s;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  #line-2 {
    border-right: 1px solid white;
    white-space: nowrap;
    overflow: hidden;
    width: 38rem;
    animation: typewriter 3s steps(40) 1s 1 normal both;
    animation-delay: 7s;
    font-size: 1.5rem;
  }

  @keyframes typewriter {
    0% {
      width: 0;
      border-right: none;
    }
    0.1% {
      border-right: 1px solid rgb(220, 220, 220);
    }
    99.9% {
      border-right: 1px solid rgb(220, 220, 220);
    }
    100% {
      border: none;
    }
  }

  i {
    opacity: 0;
    animation: fadeIn 2s ease-in-out;
    animation-delay: 10s;
    animation-fill-mode: forwards;
    padding-top: 1rem;
    padding-left: 20px;
  }

  a {
    color: rgb(220, 220, 220);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes moveUp {
    0% {
      background: none;
    }
    // 98% {
    //   transform: translateY(-50px);
    // }
    100% {
      background: black;
    }
  }
}

//Common handset
@media only screen and (min-width: 375px) and (max-width: 667px) {
  .welcome-container {
    justify-content: flex-start;
    .arrow-icon {
      width: 100%;
    }

    .typewriter {
      h1 {
        display: inline-block;
        padding-left: 1rem;
        border-right: 1px solid white;

        width: 100%;
        animation: typewriter 2s steps(25) 1s 1 normal both;
        margin-bottom: 2rem;
        font-size: 2rem;
      }
      #line-1 {
        padding-left: 1rem;
        border-right: 1px solid white;
        width: 100%;
        animation: typewriter 3s steps(40) 1s 1 normal both;
        animation-delay: 3.5s;
        margin-bottom: 2rem;
        font-size: 1.2rem;
      }

      #line-2 {
        border-right: 1px solid white;

        overflow: hidden;
        width: 100%;
        animation: typewriter 3s steps(40) 1s 1 normal both;
        animation-delay: 7s;
        font-size: 1.2rem;
        padding-left: 1rem;
      }
    }
    @keyframes typewriter {
      0% {
        width: 0;
        border-right: none;
        white-space: nowrap;
      }
      0.1% {
        border-right: 1px solid rgb(220, 220, 220);
        white-space: nowrap;
      }
      99.9% {
        border-right: 1px solid rgb(220, 220, 220);
        white-space: nowrap;
      }
      100% {
        border: none;
        white-space: initial;
      }
    }
  }
}

@media only screen and (min-width: 360px) and (max-width: 640px) {
  .welcome-container {
    justify-content: flex-start;
    .arrow-icon {
      width: 100%;
    }

    .typewriter {
      h1 {
        display: inline-block;
        padding-left: 1rem;
        border-right: 1px solid white;

        width: 100%;
        animation: typewriter 2s steps(25) 1s 1 normal both;
        margin-bottom: 2rem;
        font-size: 2rem;
      }
      #line-1 {
        padding-left: 1rem;
        border-right: 1px solid white;
        width: 100%;
        animation: typewriter 3s steps(40) 1s 1 normal both;
        animation-delay: 3.5s;
        margin-bottom: 2rem;
        font-size: 1.2rem;
      }

      #line-2 {
        border-right: 1px solid white;

        overflow: hidden;
        width: 100%;
        animation: typewriter 3s steps(40) 1s 1 normal both;
        animation-delay: 7s;
        font-size: 1.2rem;
        padding-left: 1rem;
      }
    }
    @keyframes typewriter {
      0% {
        width: 0;
        border-right: none;
        white-space: nowrap;
      }
      0.1% {
        border-right: 1px solid rgb(220, 220, 220);
        white-space: nowrap;
      }
      99.9% {
        border-right: 1px solid rgb(220, 220, 220);
        white-space: nowrap;
      }
      100% {
        border: none;
        white-space: initial;
      }
    }
  }
}
