.banner-container {
  overflow: hidden;
  position: relative;

  .img-container {
    background: linear-gradient(rgba(36, 16, 36, 0.9), #241024),
      url("../../assets/images/banner.jpg");

    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;

    .img-block {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      margin-top: 5rem;

      .img-display {
        background: url("../../assets/images/darshan_me.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 220px;
        height: 220px;
        border-radius: 50%;
        border: 5px solid grey;
      }
    }
  }

  .title-word {
    animation: color-animation 4s linear infinite;
  }

  .title-word-1 {
    --color-1: #f6ea7bff;
    --color-2: #ffba52ff;
    --color-3: #e683a9ff;
  }

  .title-word-2 {
    --color-1: #95dbe5ff;
    --color-2: #078282ff;
    --color-3: #339e66ff;
  }

  .title-word-3 {
    --color-1: #f65058ff;
    --color-2: #fbde44ff;
    --color-3: #28334aff;
  }

  @keyframes color-animation {
    0% {
      color: var(--color-1);
    }
    32% {
      color: var(--color-1);
    }
    33% {
      color: var(--color-2);
    }
    65% {
      color: var(--color-2);
    }
    66% {
      color: var(--color-3);
    }
    99% {
      color: var(--color-3);
    }
    100% {
      color: var(--color-1);
    }
  }

  /* Here are just some visual styles. 🖌 */

  .container {
    display: grid;
    place-items: center;
    text-align: center;
  }

  .title {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-top: 2.5rem;

    span {
      margin: 0rem 1rem;
    }

    .color-star {
      color: #f3ca20;
    }
  }
}

//ipad
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .banner-container {
    .img-container {
      height: 45rem;
    }
  }
}

//Common handset
@media only screen and (min-width: 360px) and (max-width: 640px) {
  .banner-container {
    .img-container {
      height: 28rem;
      .img-block {
        .img-display {
          width: 150px;
          height: 150px;
        }
      }
    }
    .title {
      display: flex;
      flex-direction: column;
      height: 100%;
      font-size: 1rem;
      justify-content: space-around;
    }
  }
}
