.about-container {
  height: 25rem;
  margin-top: 2rem;
  background: rgb(246 235 253);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;

  .about-title {
    font-size: 2.5rem;
    align-self: center;

    .divider {
      width: 100%;
      height: 0.25rem;
      background-color: #2c3e50;
      border-radius: 1rem;
      border-color: #2c3e50 !important;
    }
  }

  .about-detail {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: center;
    font-family: verdana;
    font-size: 0.9rem;

    div {
      flex-basis: 30%;
      line-height: 1.5rem;
    }
  }
}

//iPad 1, 2, Mini and Air || 768 x 1024 || Default, Portrait
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .about-container {
    height: 40rem;
    .about-detail {
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;

      div {
        padding: 1.5rem;
      }
    }
  }
}

//Common handset

@media only screen and (min-width: 360px) and (max-width: 640px) {
  .about-container {
    height: 35rem;
    margin-top: 5rem;
    .about-detail {
      display: flex;
      flex-direction: column;
      margin-top: 0;

      div {
        padding: 0.5rem;
      }
    }
  }
}
