.navbar-container {
  display: flex;
  flex-direction: row;
  height: 75px;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  // position: fixed;
  // top: 0;
  // right: 0;
  // left: 0;
  // z-index: 1030;

  .name-title {
    flex: 5;
    display: flex;

    cursor: pointer;

    img {
      width: 12rem;
      height: 10rem;
    }
  }

  .nav-links {
    flex: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1rem;
    position: relative;

    a {
      cursor: pointer;
      position: relative;
      padding: 0.5rem;
      transition: all 0.3s;
    }

    a:hover {
      color: #2581dc;
      font-size: 1.05rem;
    }

    a:before {
      position: absolute;
      left: 0px;
      width: 100%;
      height: 2px;
      background: #2581dc;
      content: "";
      opacity: 0;
      transition: all 0.3s;
    }
    a:after {
      position: absolute;
      left: 0px;
      width: 100%;
      height: 2px;
      background: #2581dc;
      content: "";
      opacity: 0;
      transition: all 0.3s;
    }

    a:before {
      top: 0px;
      transform: translateY(10px);
    }
    a:after {
      bottom: 0px;
      transform: translateY(-10px);
    }

    a:hover:before {
      opacity: 1;
      transform: translateY(0px);
    }
    a:hover:after {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

.navbar-container.fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

//IPAD MINI
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar-container {
    .nav-links {
      font-size: 1.2rem;
    }
  }
}

//Basic handsets
@media only screen and (min-width: 375px) and (max-width: 667px) {
  // <!-- For Mobile -->
  .navbar-container {
    .nav-links {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (min-width: 360px) and (max-width: 640px) {
  // <!-- For Mobile -->
  .navbar-container {
    .nav-links {
      font-size: 0.8rem;
    }
  }
}
