.navbar-container {
  display: flex;
  flex-direction: row;
  height: 75px;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  // position: fixed;
  // top: 0;
  // right: 0;
  // left: 0;
  // z-index: 1030;

  .nav-container-class {
    flex: 5;

    .menu-icon {
      display: none;
    }
  }

  .name-title {
    flex: 5;
    display: flex;

    cursor: pointer;

    img {
      width: 12rem;
      height: 10rem;
    }
  }

  .nav-links {
    flex: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1rem;
    position: relative;

    a {
      cursor: pointer;
      position: relative;
      padding: 0.5rem;
      transition: all 0.3s;
    }

    a:hover {
      color: #2581dc;
      font-size: 1.05rem;
    }

    a:before {
      position: absolute;
      left: 0px;
      width: 100%;
      height: 2px;
      background: #2581dc;
      content: "";
      opacity: 0;
      transition: all 0.3s;
    }
    a:after {
      position: absolute;
      left: 0px;
      width: 100%;
      height: 2px;
      background: #2581dc;
      content: "";
      opacity: 0;
      transition: all 0.3s;
    }

    a:before {
      top: 0px;
      transform: translateY(10px);
    }
    a:after {
      bottom: 0px;
      transform: translateY(-10px);
    }

    a:hover:before {
      opacity: 1;
      transform: translateY(0px);
    }
    a:hover:after {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

.navbar-container.fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

//Common handsets
@media only screen and (min-width: 375px) and (max-width: 667px) {
  .navbar-container {
    .name-title img {
      width: 8rem;
      height: 6rem;
    }
    .nav-container-class {
      .nav-links {
        display: none;
      }
      .menu-icon {
        display: flex;
        justify-content: space-evenly;
        position: relative;

        .icon-display {
          position: absolute;
          top: 3rem;
          width: 100%;
          font-size: 1.2rem;
          background: black;
          display: flex;
          flex-direction: column;
          z-index: 999999;

          div {
            padding: 1rem;
            line-height: 2.5rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 360px) and (max-width: 640px) {
  .navbar-container {
    .name-title img {
      width: 8rem;
      height: 6rem;
    }
    .nav-container-class {
      .nav-links {
        display: none;
      }
      .menu-icon {
        display: flex;
        justify-content: space-evenly;
        position: relative;

        .icon-display {
          position: absolute;
          top: 3rem;
          width: 100%;
          font-size: 1.2rem;
          background: black;
          display: flex;
          flex-direction: column;
          z-index: 999999;

          div {
            padding: 1rem;
            line-height: 2.5rem;
          }
        }
      }
    }
  }
}
//IPAD MINI
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar-container {
    .nav-links {
      font-size: 1.2rem;
    }
  }
}
